.bg-green {
  background-color: green;
}
.navbar {
  padding: 4px 16px;
  font-weight: 900;
  border-bottom: 1px solid black;
}
.hide {
  display: none;
}
.dropdown-menu, .lime {
  background-color: limegreen;
}
.versions {
  position: absolute; transform: translate3d(160px, 0px, 0px); top: -37px; left: -9px; will-change: transform; float: left;
  padding: 4px 0px;
}