.navbar {
  background-color: #252829;
  padding: 2px 16px;
  font-weight: 900;
  border-bottom: 1px solid black;
  z-index: 1;
}
.navbar-brand {
  font-family: 'Germania One', cursive;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 0;
  text-shadow: 1px 1px 1px gold;
}
.dropdown-menu {
  background-color: #252829;
}
.dropdown-item {
  color: #eee;
}
.hide {
  display: none;
}
.lime {
  background-color: limegreen;
}
.versions {
  position: absolute; transform: translate3d(160px, 0px, 0px); top: -41px; will-change: transform;
}