.game-rule {
    margin: 1%;
}
.game-rule > img {
    height: 100%;
    padding-left: 3%;
}
.game-rule > button {
    margin: 3%;
    width: 70%;
    font-size: 2vh;
}
@media screen and (max-aspect-ratio: 100/58) {
  .game-rule > button {
    font-size: 1.5vh;
    padding: 1px 1px;
  }
}