#root {
  max-height: 100vh;
  overflow: hidden;
}
body {
  font-weight: 600;
  /* background-color: green; */
  /* -webkit-transform: perspective(650px) rotateX(40deg);    */
}
html {
  /* background-color: green; */
  /* -webkit-transform: perspective(650px) rotateX(40deg);    */
}
.navbar {
  /* background-color: green; */
  height: 8% !important;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: 9vh;
}
.wrapper > div {
  text-align: center;
}
.background {
  z-index: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows:9vh;
  grid-column: 1/12;
  grid-row: 1/11;
  text-align: center;
  /* position: relative; */
}
.background > .background-image {
  text-align: center;
  grid-column: 1/3;
  grid-row: 1/2;
  z-index: 0;
  -webkit-transform: perspective(650px) rotateX(40deg);
}
.background-tile {
  /* transform: rotate(-90deg); */
  text-align: center;
  z-index: -200;
  position: relative;
  top: -80%;
  left: -8%;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px 250px;
}
.background-tile > img {
  position: relative;
  top: -100%;
  width: 250px;
}
.game-title {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows:9vh;
  grid-column: 5/8;
  grid-row: 1/2;
  font-family: 'Germania One', cursive;
  font-size: 2em;
  text-align: center;
  z-index: 8;
  /* position: relative; */
}
.banner {
  grid-column: 1/3;
  grid-row: 1/2;
  /* margin: 0 auto; */
  text-align: center;
}
.banner > img {
  position: relative;
  top: -20%;
  height: 291%;
}
.banner.raised > img {
  top: -82%;
}
.game-title > .game-name {
  grid-column: 1/3;
  grid-row: 1/2;
  position: relative;
  top: 79%;
  font-size: 1em;
  color: #ffd65f;
  text-shadow: 3px 3px 3px black;
}
.game-title > .game-name.raised {
  top: 19%;
}
.user {
  padding: 2px 10px;
}
.author {
  grid-column: 8/10;
  /* background-color: darkolivegreen; */
}
.version {
  grid-column: 10/12;
  /* background-color: forestgreen; */
}
.king-rules {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows:7.5vh;
  grid-column: 8/12;
  grid-row: 2/5;
  text-align: center;
  background-color: rgba(0, 255, 0, 0.693);
  box-shadow: 0px 0px 27px 5px rgba(0, 255, 0, 0.8);
  z-index: 3;
}
.king-rules > .title {
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 1.4% auto;
  z-index: 1000;
  font-family: 'Germania One', cursive;
  /* background-image: url(/images/scroll.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: contain;
  background-position: center; */
}
.color.king {
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 0% 44%;
  background-color: lime;
  box-shadow: 0px 0px 15px 5px lime;
  border: 5px outset rgba(0, 170, 0, 0.611);
  /* box-shadow: 0px 0px 10px 10px lime; */
}
.scroll.king {
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 0 auto;
}
.scroll.king > img {
  position: relative;
  top: -20%;
  height: 135%;
  background-color: rgba(0, 255, 0, 0.7);
  box-shadow: 0px 0px 25px 8px rgba(0, 255, 0, 0.7);
  /* width: 30%; */
}
.king-rules > .game-rule > .btn {
  background-color: navy;
  box-shadow: 0px 0px 5px 2px lime;
}
.game-rules {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows:7.5vh;
  grid-column: 8/12;
  grid-row: 5/11;
  background-color: rgba(0, 100, 0, 0.693);
  box-shadow: 0px 0px 30px 10px rgba(0, 100, 0, 0.8);
  z-index: 5;
}
.game-rules > .title {
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 1.2% auto;
  z-index: 2;
  font-family: 'Germania One', cursive;
}
.color.game {
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 0% 44%;
  border: 5px outset rgba(0, 75, 0, 0.611);
  background-color: darkgreen;
  box-shadow: 0px 0px 10px 10px darkgreen;
}
.scroll.game {
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 0 auto;
}
.scroll.game > img {
  position: relative;
  z-index: 2;
  top: -25%;
  height: 140%;
  /* border: 6px groove rgba(0, 131, 0, 0.666); */
  background-color: rgba(0, 100, 0, 0.7);
  box-shadow: 0px 0px 25px 10px rgba(0, 100, 0, 0.7);
}
.game-rule {
  z-index: 3;
}
.game-rules > .game-rule > .btn {
  background-color: navy;
  box-shadow: 0px 0px 5px 2px lime;
  color: #eee;
}
.table {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows:7.5vh;
  grid-column: 1/5;
  grid-row: 1/11;
}
.table > img {
  grid-column: 1/3;
  grid-row: 1/2;
  position: relative;
  top: -5%;
  left: -20%;
  height: 110%;
  width: 130%;
  /* transform: skew(-30deg); */
}
.table > img.stein {
  grid-column: 1/3;
  grid-row: 1/2;
  position: relative;
  top: 14%;
  left: 8%;
  z-index: 600;
  height: 18%;
  width: initial;
  transform: skew(0deg);
}
.decks {
  grid-column: 1/5;
  grid-row: 1/5;
  text-align: center;
  /* background-color: lime; */
}
.deck {
  height: 80%;
  position: relative;
  top: 7%;
  left: 5%;
  z-index: 100;
  transform: perspective(475px) rotateX(40deg) skew(-18deg);
  cursor: pointer;
  background-color: lime;
  border-radius: 12px;
  box-shadow: 6px 2px 5px  lime;
}
.current-cards {
  grid-column: 5/8;
  grid-row: 2/7;
  text-align: center;
  z-index: 4;
}
.current-card {
  height: 100%;
}
.burned-cards {
  grid-column: 1/5;
  grid-row: 4/11;
  /* background-color: darkgreen; */
  padding: 9vh 3% 3% 3%;
  position: relative;
  top: 100%;
  transform: perspective(650px) rotateX(40deg) skew(-20deg);
  background-color: red;
  border: 5px outset rgba(0, 170, 0, 0.611);
}
.burned-card {
  margin: 0.2%;
  position: relative;
  top: -6%;
  height: 17.5%;
  float: right;
}
.HUD {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows:9vh;
  grid-column: 5/8;
  grid-row: 7/11;
  font-family: 'Germania One', cursive;
  text-align: center;
  z-index: 8;
}
.banner-turned {
  grid-column: 1/3;
  grid-row: 1/2;
  /* margin: 0 auto; */
  text-align: center;
}
.banner-turned > img {
  position: relative;
  top: -108%;
  height: 291%;
  transform: rotate(180deg);
}
.faded > img {
  opacity: 0.5;
}
.current-rule {
  grid-column: 1/3;
  grid-row: 1/2;
  position: relative;
  top: 4%;
  text-align: center;
  /* font-size: 1.5em; */
}
.current-rule > h1 {
  font-size: 1.3em;
  color: #ffd65f;
  text-shadow: 2px 2px 2px black;
}
.current-rule > h3 {
  position: relative;
  top: 30%;
  font-size: 1.3em;
}
.current-rule > .chase-replace {
  position: relative;
  top: -10%;
  font-size: 2.5em;
  color: #ffd900;
  /* text-decoration-color: darkred; */
  text-shadow: 3px 3px 5px rgb(80, 5, 5);
}
.current-rule > .king {
  position: relative;
  font-size: 1.8em;
}
.current-rule > .change-card {
  position: relative;
  top: 0%;
}

@media screen and (max-aspect-ratio: 100/52) {
  .burned-card {
    height: 17%;
  }
}
@media screen and (max-aspect-ratio: 100/58) {
  .burned-card {
    height: 15%;
  }
  .game-rules > button {
    font-size: 1px;
  }
}
@media screen and (max-aspect-ratio: 100/74) { /* tablet portrait */
  .burned-card {
    height: 13%;
  }
}