body {
  font-weight: 600;
  background-color: green;
}
.navbar {
  background-color: green;
  height: 8% !important;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-auto-rows: 9vh;
}
.wrapper > div {
  text-align: center;
} /*
.app-title {
  grid-column: 1/5;
  background-color: forestgreen;
} */
.game-title {
  grid-column: 5/8;
  background-color: seagreen;
}
.author {
  grid-column: 8/10;
  background-color: darkolivegreen;
}
.version {
  grid-column: 10/12;
  background-color: forestgreen;
}
.king-rules {
  grid-column: 8/12;
  grid-row: 2/5;
  background-color: lime;
}
.game-rules {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows:7.5vh;
  grid-column: 8/12;
  grid-row: 5/11;
  background-color: darkgreen;
}
.game-rules > .title {
  grid-column: 1/3;
}
.decks {
  grid-column: 1/5;
  grid-row: 1/5;
  text-align: center;
  background-color: lime;
}
.deck {
  height: 100%;
  cursor: pointer;
}
.current-cards {
  grid-column: 5/8;
  grid-row: 2/7;
  text-align: center;
  background-color: green;
}
.current-card {
  height: 100%;
}
.burned-cards {
  grid-column: 1/5;
  grid-row: 5/11;
  background-color: darkgreen;
  padding: 9vh 3% 3% 3%;
}
.burned-card {
  margin: 0.2%;
  height: 19%;
  float: left;
}
.HUD {
  grid-column: 5/8;
  grid-row: 7/11;
  background-color: seagreen;
}

@media screen and (max-aspect-ratio: 100/52) {
  .burned-card {
    height: 17%;
  }
}
@media screen and (max-aspect-ratio: 100/58) {
  .burned-card {
    height: 15%;
  }
  .game-rules > button {
    font-size: 1px;
  }
}
@media screen and (max-aspect-ratio: 100/74) { /* tablet portrait */
  .burned-card {
    height: 13%;
  }
}