
.btn-light {
  margin:.5%;
  padding: 0px 8px;
  border-radius: 1px;
}
html {
  background-color: slategray;
  background-image: url("/images/stone.png");
}
body {
  background-color: slategray;
  background-image: url("/images/stone.png");
}
.create-menu {
  width: 95%;
  background-color: #c9920e;  
  padding:.5%;
  border: .5rem solid #252829;
  border-radius: 5px;
  box-shadow: 2px 2px 8px darkslategrey;
  margin: 0 auto 4px;
}
.game-name {
  font-family: 'Germania One', cursive;
  font-size: 1.5rem;
  color: brown;
  text-shadow: 1px 1px 1px #fadf8d;
  margin: 0;
}
.game-name.ver {
  margin-left: 3%;
}
.select-version {
  background-color: #fadf8d;
  margin-left: 3%;
  width: inherit;
  border-radius: 3px;
  padding: 1px 6px;
}
.col button {
  background-color: rgb(49, 49, 163);
  color: #eee;
}
.dropdown-menu {
  z-index: 2000;
}
.dropdown-menu.edit {
  padding: 1px;
  padding-right: 3px;
}
.dropdown-item {
  text-align: left;
  margin-bottom: 2px;
}
.create-rule {
  float: left;
  background-color: darkgreen;
  padding: .75%;
  border: .25rem solid #252829;
  border-radius: 5px;
  box-shadow: 2px 2px 8px darkslategrey;
  margin: .4rem;
}
textarea {
  resize: none;
}
.rule-input-group {
  float: left;
  width: 24vw;
  margin-left: 6px;
}
.rule-input-group > * {
  box-shadow: 2px 2px 8px navy;
}
.rule-card {
  box-shadow: 2px 2px 8px navy;
  width: 5.2vw;  
}
.input-group-instr {
  height: 4.6vw;
}
.input-group-text {
  background-color: #fadf8d;
  font-size: .8em;
}

@media screen and (max-width: 1170px) {
  .rule-input-group {
    width: 38.5vw;
  }
  .rule-card {
    width: 6vw;
  }
}
@media screen and (max-width: 930px) {
  .rule-input-group {
    width: 80vw;
  }
  .rule-card {
    width: 10vw;
  }
  .input-group-instr {
    height: 100%;
  }
}
@media screen and (min-height: 760px) {
  .create-menu {
    margin: 20px auto 12px;
  }
  .create-rule {
    margin: .5rem;
  }
}
